*{
    margin: 0px;
    line-height: 1.2;

}

.upper {
    background-color: rgba(102, 153, 255, .5);
    color: black;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    padding: 10px;
    
}
.upper1 {
    background-color: rgba(102, 153, 255, .5);
    color: black;
    text-align: left;
    font-family: 'Libre Baskerville', serif;
    padding: 10px;
    
}

.rodape{
    text-align: left;
    background-color: rgba(102, 153, 255, .5);
}
.installation{
    background-color: rgba(102, 153, 255, .5);
    text-align: left;
    padding: 10px;
    line-height: 1.2;
}

#teste{
    color: blue;
    background-color: blue;
}