

.upper {
    background-color: rgba(102, 153, 255, .5);
    color: black;
    text-align: center;
    
}

.rodape{
    text-align: left;
    background-color: rgba(102, 153, 255, .5);
}
.installation{
    background-color: rgba(102, 153, 255, .5);
    text-align: left;
}

